#head{
}
#image{
}
#buttom{
	display: inline-block;
	float: right;
	line-height: 70px;
}
#body{
	width: 30%;
	margin-left: 100px;
}
#verification{
	color: #FF8E0B;
	font-size: 13px;
	cursor: pointer;
}
#s{
	display: inline-block;
	background-color: #B6B3B4;
	width: 31%;
	text-align: center;
}
#m{
	display: inline-block;
	background-color: #B6B3B4;
	width: 31%;
	text-align: center;
}
#l{
	display: inline-block;
	background-color: #B6B3B4;
	width: 32%;
	text-align: center;
}
#check{
	margin-left: 85px;
	width: 49%;
}
#submit{
	background-color: #F8A500;
	text-align:center;
	border: 0px;
	cursor: pointer;
	font-weight: 800;
}
a{
	text-decoration: none;
	color: #FF9E00;
}